#bodycontent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;

}

.yellow {
  background-color: yellow;
  ;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}